@font-face {
    font-family: Roboto;
    src: url('../css/Roboto-Light.ttf');
}

html {
    scroll-behavior: smooth;
}

:root {
    --sage: rgb(163, 177, 138);
    --ferngreen: rgb(88, 129, 87);
    --chamoise: rgb(169, 132, 103);
    --timberwolf: rgb(218, 215, 205);
}

a {
    cursor: pointer;
}

h2 {
    font-size: 4vw;
}

body {
    background: var(--sage);
    background: linear-gradient(180deg, var(--sage) 0%, var(--ferngreen) 100%);
    font-family: Roboto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: rgb(0, 0, 0);
    color: #DAD7CD;

}

#headerText {
    margin: 0;
    font-size: 3.5vw;
}

#stickyHeader {
    display: grid;
    position: sticky;
    grid-template-columns: auto 5% 5%;
    margin: 0.5vw;
    margin-top: 0.2vw;
    padding-bottom: 0.5vw;
    align-items: center;
}

#headerImage {
    width: 5vw;
    /*margin-left: auto;*/
}

#headerHome {
    margin-left: auto;
    width: 5vw;
}

#bannerImage {
    width: 100vw;
}

/*
* Weapons and Items
*/
#navWeapons {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

.weaponsLink {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all 0.5s;
}

.weapons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vw;
    text-align: center;
    align-items: center;
}

.weaponsLink:hover {
    box-shadow: 0px 0px 5px 5px rgb(0, 0, 0);
    transition: all 0.5s;
}

.weaponCard {
    background-color: rgb(0, 0, 0);
    width: 15vw;
    color: orange;
    margin-left: auto;
    margin-right: auto;
}

.weaponImg {
    width: 12vw;
    margin-top: 2vw;
    background-color: orange;
}

.weaponHeader {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    color: antiquewhite;
}

#upToTop {
    position: sticky;
    top: 90vh;
    left: 95vw;
    width: 5vw;
    height: 5vw;
    background-image: url('../img/up1.png');
    background-size: cover;
    transition: all 1s;
}

#upToTop:hover {
    background-image: url('../img/up2.png');
    transition: all 1s;
}

/**
* Gallery
*/
#gallery{
    display: inline-grid;
    grid-gap: 1vw;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin-left: 2.5vw;
    margin-top: 5vw;
    margin-bottom: 5vw
}
#gallery img:active{
    transform: scale(1.5);
    transform: all 0.4s ease-in-out;
}
.galleryImg{
    width: 30vw;
    transition: all 0.4s;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.galleryImg:hover{
    transform: scale(1.1); 
    transition: all 0.4s;
}
/*
 *  Hunting Reserves
*/


#reserveImage{
    width: 100vw;
}
#reserve_box{
    text-align: center;
}
#reserve_card{
    width: 50vw;
}



#laytonLakeLink{
    position: absolute;
    top: 112%;
    left: 12%;
    width: 7.5vw;
    height: 17vh;
    border-radius: 100%;
    transition: all 0.5s;
}

#hirschfeldenLink{
    position: absolute;
    top: 113%;
    left: 51%;
    width: 8vw;
    height: 18vh;
    border-radius: 100%;
    transition: all 0.5s;
}
#yukonValleyLink{
    position: absolute;
    top: 98%;
    left: 3%;
    width: 9vw;
    height: 19vh;
    border-radius: 100%;
    transition: all 0.5s;

}
#newEnglandLink{
    position: absolute;
    top: 120%;
    left: 26%;
    width: 10vw;
    height: 13vh;
    border-radius: 100%;
    transition: all 0.5s;

}
#silverRidgePeaksLink{
    position: absolute;
    top: 123.5%;
    left: 17%;
    width: 6.8vw;
    height: 14.2vh;
    border-radius: 100%;
    transition: all 0.5s;

}
#mississippiLink{
    position: absolute;
    top: 125%;
    left: 22.8%;
    width: 8vw;
    height: 20vh;
    border-radius: 100%;
    transition: all 0.5s;

}
#ranchoDelArroyoLink{
    position: absolute;
    top: 141%;
    left: 19.5%;
    width: 6.8vw;
    height: 14.2vh;
    border-radius: 100%;
    transition: all 0.5s;

}
#parqueFernandoLink{
    position: absolute;
    top: 157.2%;
    left: 28.5%;
    width: 7.5vw;
    height: 18vh;
    border-radius: 100%;
    transition: all 0.5s;

}
#medvedTaigaLink{
    position: absolute;
    top: 93%;
    left: 73%;
    width: 9vw;
    height: 19vh;
    border-radius: 100%;
    transition: all 0.5s;

}
#cuatroColinasLink{
    position: absolute;
    top: 123%;
    left: 45%;
    width: 7.1vw;
    height: 13vh;
    border-radius: 100%;
    transition: all 0.5s;

}
#yurhongaSavanneLink{
    position: absolute;
    top: 160%;
    left: 52.2%;
    width: 9vw;
    height: 18vh;
    border-radius: 100%;
    transition: all 0.5s;

}
#teAwaroaLink{
    position: absolute;
    top: 179%;
    left: 91%;
    width: 8.1vw;
    height: 18vh;
    border-radius: 100%;
    transition: all 0.5s;

}
#revontuliCoastLink{
    position: absolute;
    top: 99%;
    left: 53%;
    width: 8vw;
    height: 17vh;
    border-radius: 100%;
    transition: all 0.5s;

}
/*
 *  DLCs
*/
.dlcGrid1{
    display: grid;
    grid-template-columns: 25% 70%;
    grid-gap: 5%;
    margin-top: 5vh;
}
.dlcGrid2{
    display: grid;
    grid-template-columns: 70% 25%;
    grid-gap: 5%;
    margin-top: 5vh;
}
.dlcName{
    margin: auto;
    padding: 0;
    font-size: 3em;
}
.dlcImg{
    width: 25vw;
    margin-left: auto;
    transition: all 0.2s;
}
.dlcImg:hover{    
    transform: scale(1.1); 
    transition: all 0.2s ease-out;
}
#dlc_box{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}
